:root {
    --Light-ten: #fdf6d2;
    --Dark-01: #131313;
    --Dark-02: #424242;
    --Dark-03: #727272;
    --Golden: #FF900E;
    --white: #fff;

}

* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav-Header-Container-Styles */

.nav-header-container {
    background-color: var(--Light-ten);
}

/*-------------------------
Navbar Section Styles 
------------------------*/
.navbar {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-name {
    color: var(--Dark-01);
    font-weight: 700;
    font-size: 40px;
}

.navbar-info a {
    text-decoration: none;
    padding-right: 20px;
    font-size: 18px;
    color: var(--Dark-02);
}

.navbar-info button {
    border-style: none;
    font-size: 18px;
    color: var(--Dark-02);
    background-color: var(--Light-ten);
}

/* ----------------------------
     Header Section Styles 
-----------------------------*/

.header-container {
    padding-top: 100px;
}


.header-info {
    width: 40%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 60px;
}

.header-title {
    font-weight: 700;
    font-size: 60px;
}

.header-info p {
    color: var(--Dark-03);
}



.header-image {
    width: 70%;
    height: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.header-image img {
    width: 100%;
    height: 100%;
}

/*Quick features Section Styles */

.quick-features-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.quick-features {

    width: 70%;
    height: 500px;
    margin: 0 auto;
    display: flex;
}

.quick-features-images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 50%;
    height: 100%;

}

.quick-features-images img {
    width: 100%;
}

.quick-features-info {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.quick-features-header {
    color: var(--Dark-03);
    padding-bottom: 15px;
}

.bold {
    color: var(--Dark-01);
    font-weight: 700;
    font-size: 30px;
}

.color {
    color: var(--Golden);
    font-weight: 700;
    font-size: 30px;
}

.btn {
    width: 160px;
    margin-top: 20px;
    padding: 18px;
    color: var(--white);
    background-color: var(--Golden);
    border-style: none;
    border-radius: 5px;
    font-size: 18px;
}

/*------------------------------------
         Features Section Styles
----------------------------------------------*/

.features-container {
    position: relative;
}

.features {
    width: 70%;
    margin: 0 auto;
    display: flex;
}

.features-info {
    width: 50%;
    position: relative;
    padding: 20px;
}

.features-info h2 {
    font-weight: 700;
    font-size: 45px;
    padding-left: 20px;
}

.features-info-details {
    padding-top: 20px;
    padding-bottom: 50px;
}

.simple-design {
    height: 100px;
    width: 5px;
    background-color: var(--Golden);
    position: absolute;
}

.features-state {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
    padding: 15px;
    margin-bottom: 20px;

}

.features-state h3 {
    font-size: 20px;
    padding-bottom: 10px;
}

.features-image {
    width: 50%;
}

.features-image img {
    width: 100%;
    height: 90%;
}

.btn-secondary {
    border-style: none;
    padding: 35px 30px;
    background-color: var(--Golden);
    color: var(--white);
    border-radius: 2px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 640px;
}

.btn-secondary span {
    font-size: 18px;
}

/* Facts Section Styles */

.facts-info {
    margin: 40px 0 0 220px;
}

.facts {
    display: flex;
    gap: 90px;
    margin: 50px 0;


}

.fact {
    text-align: center;
    width: 170px;
    height: 130px;
    padding-top: 15px;
    border-radius: 4px;
    border: 1px solid var(--Golden);
    transition: all 0.4s ease-in-out;
}

.fact:hover {
    transform: scale(1.3);
    background-color: var(--Golden);
    color: var(--white);
}

/***************************************
      Sponsors Section Styles
 **********************************/
.sponsors-container {
    margin-top: 40px;
}

.sponsors-info {
    text-align: center;
    margin-bottom: 40px;
}

.sponsors {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;

}

/* Footer Section Styles */
.footer-container {
    margin-top: 60px;
    margin-bottom: 50px;
}

.footer {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: var(--Light-ten);
}

.footer-text {

    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* -----------------------------------------
         Responsive Section
------------------------------------ */
/* Small Device */

@media screen and (max-width: 576px) {
    .navbar {
        flex-direction: column;
    }

    .navbar-name {
        padding-bottom: 15px;
    }

    .header-info {
        width: 100%;
        padding: 15px;
    }

    .header-title {
        font-size: 40px;
    }

    .header-image {
        width: 100%;
        height: 100%;
        padding: 15px;
    }

    .quick-features {
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    .quick-features-images {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 15px;
    }

    .quick-features-info {
        width: 100%;
        padding-left: 0;
        padding: 15px;
    }

    .features {
        width: 100%;
        flex-direction: column;
    }

    .features-info {
        width: 100%;
        padding: 15px;
    }

    .features-image {
        width: 100%;
        padding: 15px;
    }

    .btn-secondary {
        display: none;
    }

    .facts-container {
        padding: 15px;
    }

    .facts-info {
        margin: 40px 0 0 0;
    }

    .facts-info p {
        padding-top: 20px;
    }

    .facts {
        flex-direction: column;
        gap: 30px;
    }

    .fact {
        width: 100%;

    }

    .fact p {
        padding-top: 10px;
    }

    .sponsors-info {
        padding: 15px;
    }

    .sponsors {
        flex-direction: column;
    }

    .footer-container {
        margin-bottom: 0;
    }

    .footer {
        width: 100%;
        height: 130px;
    }

    .footer-text {
        margin: 0 70px;
    }
}

/* Medium Device */

@media screen and (min-width:577px) and (max-width:992px) {
    .header-info {
        width: 45%;
    }

    .header-image {
        width: 90%;
    }

    .quick-features {
        flex-direction: column-reverse;
        width: 100%;
        height: 100%;
    }

    .quick-features-images {
        width: 100%;
        padding: 40px;
    }

    .quick-features-info {
        width: 70%;
        padding-left: 40px;
    }

    .features {
        width: 100%;
        padding: 15px;
    }

    .features-container {
        position: relative;
    }

    .btn-secondary {

        position: absolute;
        bottom: 30px;
        left: 550px;
    }

    .facts-info {
        margin: 0;
        padding: 25px;
    }

    .sponsors {
        flex-wrap: wrap;
        width: 70%;
        margin: 0 auto;


    }

    .sponsors-info h2 {
        font-size: 32px;
        padding-bottom: 10px;
    }

    .sponsors-info p {
        width: 70%;
        margin: 0 auto;
    }

    .footer-container {
        margin-bottom: 0;
    }

    .footer {
        width: 100%;
    }

}